p {
    background-color: coral;
} 

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-option-text {
  font-size: 14px !important;
}

::ng-deep .mat-form-field-flex, .mat-form-field-wrapper  {
  background-color: inherit !important;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important
}